.movie-table {
    border-collapse: collapse;
    width: 100%;
}

.movie-table th, .movie-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.movie-table th {
    background-color: #f0f0f0;
}

.movie-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.movie-table tr:hover {
    background-color: #ccc;
}